# Ignore other subprojects in monorepo
/LiteAppAdmin
/LiteAppBackend
/LiteAppDelivery

# Ignore standard files
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.DS_Store
*.pem
.env
.env*.local
*.tsbuildinfo
